.carouselDetailGame {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 700px;
  margin: auto;
  position: relative;
}

.carouselDetail {
  display: flex;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.carButnLft {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.483);
  border: none;
  font-size: xx-large;
  color: rgba(25, 25, 249, 0.766);
  /* border-radius: 50%; */
  position: absolute;
  left: 3%;
  top: 45%;
  cursor: pointer;
}

.carButnRig {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.483);
  border: none;
  font-size: xx-large;
  color: rgba(25, 25, 249, 0.766);
  /* border-radius: 50%; */
  position: absolute;
  right: 3%;
  top: 45%;
  cursor: pointer;
}

.imageCorouselGame {
  object-fit: cover;
}

.photoRoll {
  display: flex;
  flex-direction: row;
  height: 110px;
  width: 500px;
  margin: 3rem 0;
  background-color: hsl(0, 0%, 100%, 70%);
  padding: 2rem;
}

.darkPhotoRoll {
  display: flex;
  flex-direction: row;
  height: 110px;
  width: 500px;
  margin: 3rem 0;
  background-color: hsl(240, 34%, 16%, 100%);
  padding: 2rem;
}

.imgPhotoRoll {
  width: 10%;
  height: 10%;
  margin: auto 1rem;
  cursor: pointer;
}
