.carouselDetail {
  display: flex;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.carButnLft {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 50%;
  cursor: pointer;
}

.carButnRig {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 3%;
  top: 50%;
  cursor: pointer;
}