.menuList {
  border: 1px solid transparent;
  -webkit-box-shadow: 4px 7px 8px -5px #000000;
  box-shadow: 4px 7px 8px -5px #000000;
  border-radius: 1rem;
  width: 110px;
  overflow: hidden;
  overflow-y: auto;
  height: 200px;
}

.menuList::-webkit-scrollbar {
  display: none;
}

.menuItem {
  background-color: white;
  border: none;
  padding: 0.3rem;
  text-transform: capitalize;
}

.menuItem:hover {
  background-color: hsl(0, 0%, 74%);
  cursor: pointer;
}

.filterBtn {
  border: 1px solid transparent;
  color: hsl(240, 34%, 16%, 80%);
  background-color: #fada5c;
  font-weight: bold;
  height: 30px;
  width: 122px;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.darkFilterBtn {
  border: 1px solid transparent;
  color: hsla(240, 14%, 90%, 0.8);
  background-color: #6e6027;
  font-weight: bold;
  height: 30px;
  width: 122px;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.filterBtn:hover {
  background-color: #e3c652;
  cursor: pointer;
}

.darkFilterBtn:hover {
  background-color: #7d6d2c;
  cursor: pointer;
}
