.listFlex {
  display: flex;
  margin: 0;
  padding: 1.5rem;
}

.listFlex li {
  list-style: none;
  margin: 0 3rem;
  font-size: 1.5rem;
}

.listFlex li button {
  background-color: transparent;
  color: #f6f4e6;
  border: none;
}

.listFlex li button:hover {
  cursor: pointer;
}

.navBar {
  background-color: hsl(240, 34%, 16%, 80%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.darkNavBar {
  background-color: hsl(240, 34%, 16%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  color: #000000;
  text-decoration: none;
  background-color: #d9d9d9;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.disable {
  color: #f6f4e6;
  text-decoration: none;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.navBarIcons {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.navBarIcons button {
  background-color: transparent;
  border: none;
  width: 30px;
  padding: 0;
  margin: 0 1rem;
}

.navBarIcons button:hover {
  cursor: pointer;
}
