.firstPageStyle{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formCreateDivFlex{
    display: flex;
    width: 100%;
    gap: 1rem;
}

.inputsCreate{
    height: 33px;
    margin: 1rem 0;
    font-size: medium;
    border: 1px solid white;
    border-radius: 8px;
    padding: 1rem;
}