.cartComponent{
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.containerCartOrder{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 96%);
    justify-content: space-between;
    margin: 2rem 8rem 2rem 8rem;
}

.imgInCart{
    width: 7%;
    height: 7%;
}

.nameGameInOrder{
    font-size: larger;
    font-weight: bold;
}

.countGameInOrder{
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 4%;
    align-content: center;
}

.priceOrder{
    font-size: large;
    font-weight: bold;
    margin-right: 3rem;
}