.mainContainerUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid #ffffff;
    background-color: #ffffff;
    width:40%;
    padding:50px;
    border-radius: 7px;
    margin: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.containerUser{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activeBtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.titleUser{
  display: flex;
  justify-content: center;
}
.labelFav{
  font-size: large;
  text-decoration: solid;
  background-color:#000035;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 4px;
}
.label{
 color:#000035;
}

.cards{
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.roleButton{
  height: 30px;
  margin: 20px;
  background-color: #000035;
  color: white;
  border-radius: 7px;
  font-size: medium;
  text-decoration: none;
  padding: 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}