.inputSearch{
    border: 1px solid transparent;
    border-radius: 10px;
    height: 30px;
}

.searchBtn{
    background-color: transparent;
    border: none;
    position: relative;
    right: 30px;
    top: 3px;
}

.searchBtn:hover{
    cursor: pointer;
}

.searchContainer{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 1rem;
    gap: 1rem;
}

.searchContainer input{
    outline: none;
}

.searchContainer hr{
    height: 15px
}

.searchContainer img{
    display: flex;
    margin: auto 5px;
}