.orderSummaryContainer {
    text-align: center;
}

.orderItemsList {
    list-style-type: none;
    padding: 0;
}

.orderItem {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid gray;
}

.h1Purchase{
    font-weight: bold;
}