.firstFlexCd{
    display: flex;
    padding: 5rem;
    gap: 3rem;
    width: 75%;
    margin: auto;
}

.imgCardDetail{
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCardDetail img{
    height: 100%;
    width: 75%;
}

.ratingCd{
    display: flex;
    justify-content: space-around;
}

.availableCd{
    color: #00801C;
}

.unavailableCd{
    color: red;
}

.cardDBtns{
    display: flex;
    justify-content: center;
}

.cartBtn{
    border: 1px solid transparent;
    background-color: #37A0DB;
    height: 60px;
    width: 330px;
    font-size: 28px;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 1rem;
}

.cartBtn span img{
    width: 40px;
}

.cartBtn:hover{
    cursor: pointer;
    background-color: #2875a2;
}

.heartBtn{
    border: none;
}

.heartBtn img:hover{
    cursor: pointer;
    background-color: hwb(240 0% 79%, 70%);
}

.heartBtn img{
    width: 50px;
}

.cardDescription p{
    text-align: center;
    margin: 2rem;
    padding: 0 3rem;
}

.characteristics{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.characteristics hr{
    height: 80px;
    width: 3px;
    background-color: #000035;
}

.characteristics h2{
    text-transform: capitalize;
    font-size: 1.8rem;
}

.inforCardDeatail{
    width: 50%;
    background-color: hsl(0, 0%, 100%, 70%);
    padding: 2rem;
    border-radius: 1rem;
}

.playersCd h3{
    text-align: center;
}

.seeMoreBtn{
    display: flex;
    margin: auto;
    background-color: transparent;
    border: 1px solid transparent;
    color: #000035;
    text-transform: capitalize;
}

.seeMoreBtn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.reviewCardDetail{
    display: flex;
    flex-direction: column;
    margin: 0 auto 5rem;
    gap: 1rem;
    width: 75%;
}

.textAreaDetail button{
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #000035;
    color: white;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.textAreaDetail button:hover{
    cursor: pointer;
    background-color: #000076;
}

.textAreaDetail{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
}