.intercalatedTable {
    width: 100%;
    border-collapse: collapse;
}

.intercalatedTable th,
.intercalatedTable td {
    padding: 8px;
    text-align: left;
}

.intercalatedTable th {
    background-color: #f2f2f2;
    /* gris claro */
}

.gris {
    background-color: #dedede;
    /* gris más claro */
}

.blanco {
    background-color: #ffffff;
    /* blanco */
}