.container-login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.244);
  width: 30%;
  height: min-content;
  padding: 20px;
  margin: 3rem;
  margin-top: 65px;
  margin-bottom: 65px;
}

.login-title{
  margin:3rem;
  color: #000035;
  font-size: 2rem;
  font-weight: bold;
}

.div-inputs{
  width: 20%;
}

.login-form-inputs{
  width: 100%;
  height: 33px;
  border-radius: 4px;
  border: 1px solid white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}

.login-form-inputs:focus {
  outline: 0 none;
}

.label{
  margin-top:8px;
  align-self: flex-start;
}

.forgot-p{
  font-size: smaller;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.forgot-p:hover{
  cursor: pointer;
  color:blue;

}

.signup-p:hover{
  cursor: pointer;
  color:blue;
}
.span-signup-p{
  padding-left: 10px;
}

.login-button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 40px;
  margin:1rem;
  background-color: #000035;
  color:white;
  border-radius: 4px;
}

.recover-password-button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40px;
  margin-top:0.75rem;
  background-color: #000035;
  color:white;
  border-radius: 4px;
}

.login-button:not([disabled="false"]):not([disabled]):hover{
  background-color: #020266;
}
  
.login-button:not([disabled="false"]):not([disabled]):active {
  transform: scale(0.98);
  background-color: #29298b;
}

.login-button:disabled{
  background-color: rgba(0, 0, 53, 0.3);
  color: #000035;
}

.login-input-error{
  color:red;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.form-body {
  width: 83%;
}
.form-body button{
  width: 95%;
}

.login-disabled{
  filter: blur(2px);
}

.recover-password-button:not([disabled="false"]):not([disabled]):hover{
  background-color: #020266;
}
  
.recover-password-button:not([disabled="false"]):not([disabled]):active {
  transform: scale(0.98);
  background-color: #29298b;
}

.recover-password-button:disabled{
  background-color: rgba(0, 0, 53, 0.3);
  color: #000035;
}